@inherits LayoutComponentBase

<div class="page @(_isSidebarCollapsed ? "sidebar-collapsed" : "")">
    <aside class="sidebar">
        <div class="sidebar-header">
            <button class="toggle-btn" @onclick="ToggleSidebar">
                <i class="bi bi-code"></i>
            </button>
        </div>

        <nav class="sidebar-nav">
            <NavLink class="nav-link text-white" href="/" Match="NavLinkMatch.All">
                <div class="sidebar-item">
                    <i class="bi bi-emoji-sunglasses-fill"></i>
                    <span class="nav-text">Romario World</span>
                </div>
            </NavLink>

            <NavLink class="nav-link text-white" href="/math" Match="NavLinkMatch.Prefix">
                <div class="sidebar-item">
                    <i class="bi bi-exposure"></i>
                    <span class="nav-text">Math for Kids</span>
                </div>
            </NavLink>

            <NavLink class="nav-link text-white" href="/geoquiz" Match="NavLinkMatch.Prefix">
                <div class="sidebar-item">
                    <i class="bi bi-globe"></i>
                    <span class="nav-text">Geo Quiz</span>
                </div>
            </NavLink>
        </nav>
    </aside>

    <main class="main-content">
        <article class="content-body">
            @Body
        </article>
    </main>
</div>

@code {
    private bool _isSidebarCollapsed = false;

    private void ToggleSidebar()
    {
        _isSidebarCollapsed = !_isSidebarCollapsed;
    }
}

