.iframe-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

    .iframe-container iframe {
        width: 200%;
        height: 200%;
        transform: scale(0.5);
        transform-origin: top left;
    }
